<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>{$tpshop_config.basic_store_title|default='我的商城'}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{$tpshop_config.basic_store_ico|default='__STATIC__/images/storeico.png'}" media="screen"/>
    <link rel="stylesheet" href="__ADMIN__/js/jconfirm/jquery-confirm.min.css">
    <link href="__ADMIN__/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.css" rel="stylesheet">

    <script type="text/javascript" src="__ADMIN__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="__ADMIN__/js/main.min.js"></script>
    <script src="__ADMIN__/js/jconfirm/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="__STATIC__/plugin/layer/layer.js"></script>
    <!--提示弹框-->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/plugin/TGTool/TGTool.css" />
    <script src="__ADMIN__/plugin/TGTool/TGTool.js"></script>
    <!--水波纹按钮-->
    <link rel="stylesheet" type="text/css" href="__ADMIN__/plugin/waves/css/waves.min.css" />
    <script src="__ADMIN__/plugin/waves/js/waves.min.js"></script>

    <link href="__ADMIN__/css/custom.css" rel="stylesheet">
    <script src="__ADMIN__/js/common.js"></script>
    <script src="__STATIC__/js/vue.js"></script>
</head>