{include file='public:header-css'/}
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        {include file='public:left-menu'/}
        <!--End 左侧导航-->
        <!--头部信息-->
        {include file='public:nav-header' title="微信管理" subTitle="微信用户列表"/}
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-toolbar">
                                <div class="card-toolbar-center">
                                    <a href="" class="table-btn btn-dark"><i class="mdi mdi-replay"></i></a>
                                    <button class="table-btn btn-theme">共{$list->total()}条记录
                                        当前第{$list->currentPage()}页
                                    </button>
                                </div>
                                <form class="table-form" method="post" action="">
                                    <div class="table-form-group">
                                        <input type="text" value="{$Request.param.keyword}" name="keyword"
                                               placeholder="查询用户账号">
                                        <button class="btn btn-default" type="submit">搜索</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>编号</th>
                                        <th>会员账号</th>
                                        <th>第三方昵称</th>
                                        <th>性别</th>
                                        <th>头像</th>
                                        <th>所在地区</th>
                                        <th>添加时间</th>
                                        <th>更新时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {if $list->isEmpty()}
                                    <tr>
                                        <td class="no-data" colspan="50">
                                            <i class="mdi mdi-alert-decagram"></i>没有符合条件的记录
                                        </td>
                                    </tr>
                                    {else/}
                                    {volist name="$list" id="vo"}
                                    <tr>
                                        <td>{$vo[$vo.pk]}</td>
                                        <td>
                                            {if $vo.uid}
                                            <a href="{:url('User/detail',['user_id'=>$vo.user.user_id])}">{$vo.user.mobile}</a>
                                            {else/}
                                            ---
                                            {/if}
                                        </td>
                                        <td>{$vo.nick_name|default='---'}</td>
                                        <td>{$vo.gender|default='---'}</td>
                                        <td class="img">
                                            {if $vo.avatar}
                                            <img title="点击图片看大图" data-toggle="tooltip" class="table-img" src="{$vo.avatar}">
                                            {else/}
                                            ---
                                            {/if}
                                        </td>
                                        <td>{$vo.address}</td>
                                        <td>{$vo.add_time}</td>
                                        <td>{$vo.update_time}</td>
                                    </tr>
                                    {/volist}
                                    {/if}
                                    </tbody>
                                </table>
                                <!--分页-->
                                <div class="page">
                                    {$page|raw}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<script type="text/javascript">
    $(function () {
        layer.photos({
            photos: '.img'
            ,anim: 5
        });
        $('.open').on('click', function () {
            if ($(this).hasClass('text-success')) {
                var open = 0;
                var add = 'text-red mdi-close-circle-outline';
                var remove = 'text-success mdi-checkbox-marked-circle-outline';
                var text = ' 否';
            } else {
                var open = 1;
                var add = 'text-success mdi-checkbox-marked-circle-outline';
                var remove = 'text-red mdi-close-circle-outline';
                var text = ' 是';
            }
            var id = $(this).attr('data-id');
            var obj = $(this);
            changeTableVal('ad', 'open', id, open, function (res) {
                if (res.code == 1) {
                    obj.removeClass(remove).addClass(add).text(text);
                }
            });
        });
        $('.table-input').on('blur',function () {
            var ad_id=$(this).attr('data-id');
            var val=$(this).val();
            if (val==''){
                showErrorMsg("请输入排序");
                return;
            }
            changeTableVal('ad', 'sort', ad_id, val, function (res) {
            });
        });
    });
    function handel() {
        var checkbox = $('.checkbox:checked');
        if (checkbox.length == 0) {
            showErrorMsg("请选择数据");
            return
        }
        var ids = [];
        $.each(checkbox, function (index, item) {
            ids.push(item.value)
        });
        var text = "确认操作?";
        showConfirm(text, function () {
            var url = "{:url('Index/public_delete')}";
            var data = {'ids': ids,'table':'ad'};
            public_ajax(url, data, function (res) {
                if (res.code==1){
                    showSuccessMsg(res.msg,function () {
                        location.reload()
                    })
                }else {
                    showErrorMsg(res.msg);
                }
            })
        })
    }
</script>
</body>
</html>