{include file='public:header-css'/}
<body>
<div class="lyear-layout-web">
  <div class="lyear-layout-container">
    <!--左侧导航-->
    {include file='public:left-menu'/}
    <!--End 左侧导航-->
    <!--头部信息-->
    {include file='public:nav-header' title="项目管理" subTitle="添加编辑标签"/}
    <!--End 头部信息-->

    <!--页面主要内容-->
    <main class="lyear-layout-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <form method="post" id="submit-form" class="row">
                  <div class="form-group col-md-12">
                    <label class="form-title"><em class="require">*</em>标签名称</label>
                    <input type="text" class="form-control" name="name" value="{$info.name}" placeholder="请输入标签名称"/>
                    <span class="error" id="err_name"></span>
                  </div>
                  <div class="form-group col-md-12">
                    <div class="form-inline">
                      <span class="tit">标签类型</span>
                      <select class="input-group-select" name="type">
                        {volist name="$tag_list" id="tag"}
                        <option value="{$i}" {if $info.type==$i}selected{/if}>{$tag}</option>
                        {/volist}
                      </select>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <h5>是否显示</h5>
                    <div class="btn-group form-group-toggle">
                      <label class="radio-btn radio-theme {if $info.is_show==1}active{/if}">
                        <input type="radio" name="is_show" value="1" {if $info.is_show==1}checked{/if}>
                        <i class="mdi mdi-checkbox-marked-circle-outline"> 是</i>
                      </label>
                      <label class="radio-btn radio-default {if $info.is_show==0}active{/if}">
                        <input type="radio" name="is_show" value="0" {if $info.is_show==0}checked{/if}>
                        <i class="mdi mdi-close-circle-outline"> 否</i> </label>
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                    <label class="form-title"><em class="require">*</em>标签排序</label>
                    <input type="text" class="form-control" name="sort" value="{$info.sort|default=50}" placeholder="请输入标签排序"/>
                    <span class="error" id="err_sort"></span>
                  </div>
                  <div class="col-md-12">
                    <input type="hidden" name="{$info.pk}" value="{$info[$info.pk]}">
                    <button type="button" class="btn-theme submit-btn">确定</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--End 页面主要内容-->
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('.submit-btn').click(function () {
      $('span.error').hide();
      $('.form-group').removeClass('has-error');
      var url = "{:url('Items/add_edit_tag',[$info.pk=>$info[$info.pk]])}";
      var data = $('#submit-form').serialize();
      $.ajax({
        type: "POST",
        url: url,
        data: data,
        dataType: 'json',
        success: function (data) {
          if (data.code == 1) {
            showSuccessMsg(data.msg, function () {
              if (data.result.url) {
                location.href = data.result.url;
              }
            });
          } else if (data.code == 10) {
            showErrorMsg(data.msg);
            $.each(data.result, function(index, item) {
              $('#err_' + index).text(item).show();
              $('#err_' + index).parent().addClass('has-error');
            });
          } else {
            showErrorMsg(data.msg);
          }
        },
        error: function (XMLHttpRequest, textStatus, errorThrown) {
          showErrorMsg("网络失败，请刷新后重试!");
        }
      });
    });
  });
  function call_back(fileurl_tmp,fileurl_id)
  {
    $("[name="+fileurl_id+"]").val(fileurl_tmp);
    $("#"+fileurl_id).attr('src', fileurl_tmp);
  }
</script>
</body>
</html>