{include file='public:header-css'/}
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!--左侧导航-->
        {include file='public:left-menu'/}
        <!--End 左侧导航-->
        <!--头部信息-->
        {include file='public:nav-header' title="项目管理" subTitle="简历列表"/}
        <!--End 头部信息-->

        <!--页面主要内容-->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            {assign name="status" value="$Request.param.status|default=0" /}
                            <div class="flex">
                                <ul class="nav nav-tabs page-tabs">
                                    <li {if $status=='0'}class="active"{/if} onclick="jump('0')"><a href="javascript:;">全部</a></li>
                                    <li {if $status=='-1'}class="active"{/if} onclick="jump('-1')"><a href="javascript:;">待审核</a></li>
                                    <li {if $status=='1'}class="active"{/if} onclick="jump('1')"><a href="javascript:;">已通过</a></li>
                                    <li {if $status=='2'}class="active"{/if} onclick="jump('2')"><a href="javascript:;">已驳回</a></li>
                                    <li {if $status=='3'}class="active"{/if} onclick="jump('3')"><a href="javascript:;">启用中</a></li>
                                    <li {if $status=='4'}class="active"{/if} onclick="jump('4')"><a href="javascript:;">已停用</a></li>
                                </ul>
                                <div class="toolbar-btn-action">
                                    <a class="btn btn-label btn-theme" onclick="submit1(2)" href="javascript:;"><label><i
                                            class="mdi mdi-buffer"></i></label> 导出数据</a>
                                </div>
                            </div>
                            <div class="hint">
                                <div class="hint-info">
                                    <h5><i class="mdi mdi-help-circle-outline"></i>操作提示</h5>
                                    <p>平台所有简历列表</p>
                                </div>
                            </div>
                            <div class="card-toolbar">
                                <div class="toolbar-btn-action">
                                    {if $status == -1}
                                    <a class="btn btn-label btn-theme" onclick="handel(1)"><label><i
                                            class="mdi mdi-checkbox-marked-circle-outline"></i></label> 审核通过</a>
                                    <a class="btn btn-label btn-dark" onclick="showConfirm1()"><label><i
                                            class="mdi mdi-close-circle-outline"></i></label> 审核失败</a>
                                    {/if}
                                    {if in_array($status,[1,4])}
                                    <a class="btn btn-label btn-theme" onclick="handel(4)"><label><i
                                            class="mdi mdi-checkbox-marked-circle-outline"></i></label> 批量启用</a>
                                    {/if}
                                    {if $status == 3}
                                    <a class="btn btn-label btn-dark" onclick="handel(5)"><label><i
                                            class="mdi mdi-close-circle-outline"></i></label> 批量停用</a>
                                    {/if}
                                    <a class="btn btn-label btn-danger" onclick="handel(3)"><label><i
                                            class="mdi mdi-delete"></i></label> 批量删除</a>
                                </div>
                                <div class="card-toolbar-center">
                                    <a href="" class="table-btn btn-dark"><i class="mdi mdi-replay"></i></a>
                                    <button class="table-btn btn-theme">共{$list->total()}条记录
                                        当前第{$list->currentPage()}页
                                    </button>
                                </div>
                                <form class="table-form" method="post" action="">
                                    <div class="table-form-group">
                                        <input data-type="time" readonly id="start_time" name="start_time" type="text" value="{$start_time}">
                                        <button class="btn btn-default" type="button">开始时间</button>
                                    </div>
                                    <div class="table-form-group">
                                        <input data-type="time" name="end_time" id="end_time" type="text" value="{$end_time}" readonly>
                                        <button class="btn btn-default" type="button">结束时间</button>
                                    </div>
                                    <div class="table-form-group">
                                        <input type="hidden" name="ids">
                                        <input type="hidden" name="status" value="{$status}">
                                        <select name="sex" class="input-group-select">
                                            <option value="">性别</option>
                                            <option value="1" {if $Request.param.sex=='1'}selected{/if}>男</option>
                                            <option value="2" {if $Request.param.sex=='2'}selected{/if}>女</option>
                                        </select>
                                        <input type="text" value="{$Request.param.keyword}" name="keyword"
                                               placeholder="查询个人优势/项目经历">
                                        <button class="btn btn-default" onclick="submit1(1)" type="button">搜索</button>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body">
                                <table class="table table-bordered table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <th>
                                            <label class="table-checkbox">
                                                <input type="checkbox" id="check-all"><span></span>
                                            </label>
                                        </th>
                                        <th style="width: 100px">操作</th>
                                        <th>ID</th>
                                        <th>手机号码</th>
                                        <th colspan="2">性别/出生年月</th>
                                        <th>擅长项目</th>
                                        <th>工作属性</th>
                                        <th>期望城市</th>
                                        <th>期望薪资</th>
                                        <th>应聘岗位</th>
                                        <th>擅长技能</th>
                                        <th>个人优势</th>
                                        <th>项目经历</th>
                                        <th>备注信息</th>
                                        <th>状态</th>
                                        <th>创建时间</th>
                                        <th>更新时间</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {if $list->isEmpty()}
                                    <tr>
                                        <td class="no-data" colspan="50">
                                            <i class="mdi mdi-alert-decagram"></i>没有符合条件的记录
                                        </td>
                                    </tr>
                                    {else/}
                                    {volist name="$list" id="vo"}
                                    <tr>
                                        <td>
                                            <label class="table-checkbox">
                                                <input type="checkbox" class="checkbox"
                                                       value="{$vo[$vo.pk]}"><span></span>
                                            </label>
                                        </td>
                                        <td><a class="table-btn btn-theme" href="{:url('Items/edit_resume',['id'=>$vo[$vo.pk]])}"><i class="mdi mdi-pencil"></i>编辑</a>
                                        </td>
                                        <td>{$vo[$vo.pk]}</td>
                                        <td><a href="{:url('User/detail',['user_id'=>$vo.user.user_id])}">{$vo.user.mobile}</a></td>
                                        <td>{$vo.sex_text}</td>
                                        <td>{$vo.birthday}</td>
                                        <td>{$vo.tags_text}</td>
                                        <td>{$vo.property_text}</td>
                                        <td>{$vo.citys_text}</td>
                                        <td>{$vo.salary}{$vo.salary_unit}</td>
                                        <td>{$vo.post_text}</td>
                                        <td>{$vo.talents_text}</td>
                                        <td>{$vo.strength|default='---'}</td>
                                        <td>{$vo.experience|default='---'}</td>
                                        <td>{$vo.remark|default='---'}</td>
                                        <td>{$vo.status_text}</td>
                                        <td>{$vo.add_time}</td>
                                        <td>{$vo.update_time}</td>
                                    </tr>
                                    {/volist}
                                    {/if}
                                    </tbody>
                                </table>
                                <!--分页-->
                                <div class="page">
                                    {$page|raw}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </main>
        <!--End 页面主要内容-->
    </div>
</div>
<style>
    .item-row-input{
        display: flex;
        align-items: center;
    }
    .item-row-input:not(:last-child) {
        margin-bottom: 10px;
    }
    .item-row-input h5{
        width: 100px;
    }
    .item-row-input .form-control{
        flex: 1;
    }
    .flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        border-bottom: 1px solid #ebebeb;
    }
    .flex .nav-tabs{
        margin-bottom: 0;
        border-bottom: none;
    }
</style>
<script src="__STATIC__/plugin/laydate/laydate/laydate.js"></script>
<script type="text/javascript">
    $(function () {
        $('#start_time').layDate();
        $('#end_time').layDate();
    });
    function jump(status='') {
        var url="{:url('Items/resume_list')}";
        if (status) {
            $('[name=status]').val(status);
        }
        $('.table-form').attr('action',url).submit();
    }
    function showConfirm1(){
        var checkbox = $('.checkbox:checked');
        if (checkbox.length == 0) {
            showErrorMsg("请选择数据");
            return
        }
        var html = '<div class="item-row-input"><h5>拒绝原因</h5><input type="text" class="form-control" name="reason" placeholder="请输入拒绝原因"></div>';
        var jc = $.confirm({
            // boxWidth:'50%',
            // useBootstrap: false,
            columnClass: 'large',
            title: '填写拒绝原因',
            content: '' +
                '<form action="" class="formName">' +
                '<div class="form-group">' + html +'</div>' +
                '</form>',
            buttons: {
                quxiao:{
                    btnClass: 'btn-default',
                    text: '取消',
                    action(){
                        return true;
                    }
                },
                delete: {
                    btnClass: 'btn-theme',
                    text: '确定',
                    action(){
                        let content = jc.$content
                        let reason = $(content).find("[name='reason']").val()
                        if (reason == '') {
                            showErrorMsg("请输入拒绝原因");
                            return false;
                        }
                        handel(2,reason)
                        return false;
                    }
                }
            }
        });
    }
    function handel(type,reason = '') {
        var checkbox = $('.checkbox:checked');
        if (checkbox.length == 0 && reason == '') {
            showErrorMsg("请选择数据");
            return
        }
        var ids = [];
        $.each(checkbox, function (index, item) {
            ids.push(item.value)
        });
        if (reason) {
            var url = "{:url('Items/resume_update')}";
            var data = {'ids': ids,'type':type,reason};
            public_ajax(url, data, function (res) {
                if (res.code==1){
                    showSuccessMsg(res.msg,function () {
                        location.reload()
                    })
                }else {
                    showErrorMsg(res.msg);
                }
            })
            return;
        }
        var text = "确认操作?";
        showConfirm(text, function () {
            var url = "{:url('Items/resume_update')}";
            var data = {'ids': ids,'type':type};
            public_ajax(url, data, function (res) {
                if (res.code==1){
                    showSuccessMsg(res.msg,function () {
                        location.reload()
                    })
                }else {
                    showErrorMsg(res.msg);
                }
            })
        })
    }
    function submit1(type) {
        if (type==1){
            $('[name=ids]').val('');
            var url="{:url('Items/resume_list')}";
        }else {
            var checkbox = $('.checkbox:checked');
            var ids = [];
            $.each(checkbox, function (index, item) {
                ids.push(item.value)
            });
            $('[name=ids]').val(ids);
            var url = "{:url('Items/export_resume')}";
        }
        $('.table-form').attr('action',url).submit();
    }
</script>
</body>
</html>